Repository tomsquest/mediathequeroubaix.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

autoflake:
  name: autoflake
  entry: poetry run autoflake -r -i --remove-all-unused-imports --remove-unused-variables
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

mypy:
  name: mypy
  entry: poetry run mypy .
  require_serial: true
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

kacl-verify:
  name: kacl-verify
  entry: poetry run kacl-cli verify
  language: system
  pass_filenames: false

doc: pimp output of get loans
  README.md
Due: none

refactor: make get_loans take an AuthenticatedSession
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/main.py
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor: check authentication before print_loans
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/main.py
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor: rename User in AuthenticatedSession to avoid clash with User
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/login/authenticated_session.py
  src/mediathequeroubaix/login/get_user.py
  src/mediathequeroubaix/login/login_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

fix: set correct poetry script
  pyproject.toml
Due: none

doc: add value "booked" for reasons_not_renewable
  src/mediathequeroubaix/get_loans/loan.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

style: make all private function prefixed by underscore
  src/mediathequeroubaix/config.py
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/login/login.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor: compose flows (config, authenticate, get_loans)
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/config.py
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/login/authenticated_session.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: add commands for config and loans
  README.md
  poetry.lock
  pyproject.toml
  src/mediathequeroubaix/__main__.py
  src/mediathequeroubaix/app.py
  src/mediathequeroubaix/config.py
  src/mediathequeroubaix/main.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor: extract command for "loans list"
  src/mediathequeroubaix/app.py
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: pretty print config (on create, on show)
  src/mediathequeroubaix/config.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: display renewable icon centered
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: pretty print config (on create, on show)
  src/mediathequeroubaix/auth/__init__.py
  src/mediathequeroubaix/auth/authenticate.py
  src/mediathequeroubaix/auth/authenticate_test.py
  src/mediathequeroubaix/auth/authenticated_session.py
  src/mediathequeroubaix/auth/get_user.py
  src/mediathequeroubaix/auth/get_user_test.py
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

doc: update CHANGELOG.md
  CHANGELOG.md
Due: kacl-verify

doc: add screenshow of CLI
  README.md
  doc/cli_config_create.png
  doc/cli_config_show.png
  doc/cli_loans_list.png
Due: none

feat: add cli (#8)
  CHANGELOG.md
  README.md
  doc/cli_config_create.png
  doc/cli_config_show.png
  doc/cli_loans_list.png
  poetry.lock
  pyproject.toml
  src/mediathequeroubaix/__main__.py
  src/mediathequeroubaix/app.py
  src/mediathequeroubaix/auth/__init__.py
  src/mediathequeroubaix/auth/authenticate.py
  src/mediathequeroubaix/auth/authenticate_test.py
  src/mediathequeroubaix/auth/authenticated_session.py
  src/mediathequeroubaix/auth/get_user.py
  src/mediathequeroubaix/auth/get_user_test.py
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/config.py
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/main.py
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

doc: use correct user id in screenshot
  doc/cli_loans_list.png
Due: none

doc: add ShowCode in credits
  README.md
Due: none

chore: update project structure to 939ec0f2
  .cruft.json
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml.rej
Due: none

fix: "returns" was set as a dev dependencies, should have been main deps
  poetry.lock
  pyproject.toml
Due: none

Release 1.0.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

chore: drop codeql.yml (useless?)
  .github/workflows/codeql.yml
Due: none

ci: only run `pre-commit` as it checks everything from code to actions
  .github/workflows/test.yml
Due: none

ci: drop workflow to update dependencies
  .github/workflows/dependencies.yml
Due: none

ci: drop workflow to update project from template (cruft)
  .cruft.json
  .github/workflows/cookiecutter.yml
Due: none

fix: authentication was not working due to using a new Session in auth
  src/mediathequeroubaix/auth/authenticate.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Release 1.0.1
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

feat: print loans of each user sequentially
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

doc: remove TODO about multi-users
  README.md
Due: none

feat: print loans of each user sequentially (#9)
  CHANGELOG.md
  README.md
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 1.1.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

feat: display soonest due date in footer of loans table
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: add itemnumber to loan
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/loan_test.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Release 1.2.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

feat: renew loans
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/renew/__init__.py
  src/mediathequeroubaix/renew/renew.py
  src/mediathequeroubaix/renew/renew_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor: rename _pretty_print to _print_loans
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: print new loans after renew
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pyupgrade: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  kacl-verify: any of: CHANGELOG.md
