Repository tomsquest/mediathequeroubaix.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

autoflake:
  name: autoflake
  entry: poetry run autoflake -r -i --remove-all-unused-imports --remove-unused-variables
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

mypy:
  name: mypy
  entry: poetry run mypy .
  require_serial: true
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

kacl-verify:
  name: kacl-verify
  entry: poetry run kacl-cli verify
  language: system
  pass_filenames: false

feat: get loans
  poetry.lock
  pyproject.toml
  src/mediathequeroubaix/client.py
  src/mediathequeroubaix/client_test.py
  src/mediathequeroubaix/fetch_loans/__init__.py
  src/mediathequeroubaix/fetch_loans/base64decode.py
  src/mediathequeroubaix/fetch_loans/base64decode_test.py
  src/mediathequeroubaix/fetch_loans/extract_token.py
  src/mediathequeroubaix/fetch_loans/extract_token_test.py
  src/mediathequeroubaix/fetch_loans/fetch_loans.py
  src/mediathequeroubaix/fetch_loans/fetch_loans_test.py
  src/mediathequeroubaix/fetch_loans/loan.py
  src/mediathequeroubaix/fetch_loans/parse_loans.py
  src/mediathequeroubaix/fetch_loans/parse_loans_test.py
  src/mediathequeroubaix/login.py
  src/mediathequeroubaix/main.py
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

chore: mode dev dependencies to 'group.dev'
  poetry.lock
  pyproject.toml
Due: none

chore: remove config for black and .pyi files
  pyproject.toml
Due: none

chore: only support python 3.10
  .github/workflows/test.yml
  README.md
  poetry.lock
  pyproject.toml
Due: none

doc: add logo on banner
  doc/banner.png
  doc/banner.xcf
Due: none

chore: add flake8-pytest-style
  poetry.lock
  pyproject.toml
Due: none

doc: add changelog link
  README.md
Due: none

doc: add description, features, why to README.md
  README.md
  doc/mr_homepage.png
Due: none

doc: update CHANGELOG.md
  CHANGELOG.md
Due: kacl-verify

Release 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

refactor: return a `User` instead of str
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/login/get_user.py
  src/mediathequeroubaix/login/login.py
  src/mediathequeroubaix/login/user.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

perf: get user's name just after login, not from personal space
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/login/get_user.py
  src/mediathequeroubaix/login/get_user_test.py
  src/mediathequeroubaix/login/login.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

test: login
  src/mediathequeroubaix/login/login_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: print logged-in user
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/login.py
  src/mediathequeroubaix/login/__init__.py
  src/mediathequeroubaix/login/do_login.py
  src/mediathequeroubaix/login/get_user.py
  src/mediathequeroubaix/login/get_user_test.py
  src/mediathequeroubaix/main.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: print logged-in user (#4)
  CHANGELOG.md
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/login.py
  src/mediathequeroubaix/login/__init__.py
  src/mediathequeroubaix/login/get_user.py
  src/mediathequeroubaix/login/get_user_test.py
  src/mediathequeroubaix/login/login.py
  src/mediathequeroubaix/login/login_test.py
  src/mediathequeroubaix/login/user.py
  src/mediathequeroubaix/main.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

chore: disable systematic report of coverage when running pytest
  pyproject.toml
Due: none

refactor: remove unnecessary types in print_loans
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

feat: display due date as date, not datetime
  CHANGELOG.md
  src/mediathequeroubaix/fetch_loans/loan.py
  src/mediathequeroubaix/fetch_loans/loan_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

refactor: rename fetch_loans to get_loans
  src/mediathequeroubaix/get_loans/__init__.py
  src/mediathequeroubaix/get_loans/base64decode.py
  src/mediathequeroubaix/get_loans/base64decode_test.py
  src/mediathequeroubaix/get_loans/extract_token.py
  src/mediathequeroubaix/get_loans/extract_token_test.py
  src/mediathequeroubaix/get_loans/get_loans.py
  src/mediathequeroubaix/get_loans/get_loans_test.py
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/loan_test.py
  src/mediathequeroubaix/get_loans/parse_loans.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor(test): simplify some assertions
  src/mediathequeroubaix/get_loans/base64decode_test.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

ci: add poetry check to pre-commit
  .pre-commit-config.yaml
Due: none

chore: add basic Makefile (helpful in Intellij to run tasks)
  Makefile
Due: none

style: add some more MyPy checks
  pyproject.toml
Due: none

ci: reformat with prettier
  .github/actions/python-poetry-env/action.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/cookiecutter.yml
  .github/workflows/draft_release.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
Due: kacl-verify

doc: add some classifiers to pyproject.toml
  pyproject.toml
Due: none

chore(pre-commit): only run poetry-check when pyproject.toml changed
  .pre-commit-config.yaml
Due: none

chore(pre-commit): add pygrep-hooks
  .pre-commit-config.yaml
Due: none

refactor: double-quote
  .github/workflows/cookiecutter.yml
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
Due: none

refactor: more more double-quote
  .github/workflows/cookiecutter.yml
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
Due: none

refactor: more double-quote
  .github/workflows/cookiecutter.yml
Due: none

ci(fix): replace `::set-output` with append to $GITHUB_OUTPUT
  .github/workflows/cookiecutter.yml
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
Due: none

chore(pre-commit): add actionlint to hooks
  .pre-commit-config.yaml
Due: none

ci(fix): replace deprecated `::set-output` with append to $GITHUB_OUTPUT (#6)
  .github/workflows/cookiecutter.yml
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
  .pre-commit-config.yaml
Due: none

chore: update dependencies
  poetry.lock
Due: none

chore: move flake8 config to pyproject.toml using flake8-pyprojecttoml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

refactor: use pattern matching
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

refactor: extract authenticated_session (session, user)
  src/mediathequeroubaix/authenticate.py
  src/mediathequeroubaix/login/authenticated_session.py
  src/mediathequeroubaix/login/get_user.py
  src/mediathequeroubaix/login/login.py
  src/mediathequeroubaix/login/login_test.py
  src/mediathequeroubaix/login/user.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

chore: silent black
  pyproject.toml
Due: none

feat: display nice looking table of loans (using Rich's Table)
  poetry.lock
  pyproject.toml
  src/mediathequeroubaix/print_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pyupgrade: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  kacl-verify: any of: CHANGELOG.md
