Repository tomsquest/mediathequeroubaix.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
  - repo: https://github.com/thlorenz/doctoc
    rev: v2.1.0
    hooks:
      - id: doctoc
        args: [ "--update-only", "--github", "--title", "## Table of Contents" ]
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake -r -i --remove-all-unused-imports --remove-unused-variables
        language: system
        types: [ python ]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [ python ]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [ python ]
      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        pass_filenames: false
        # alternatively you could `types: [python]` so it only runs when python files change
        # though tests might be invalidated if you were to say change a data file
        always_run: true
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [ python ]
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        require_serial: true
        language: system
        types: [ python ]
        pass_filenames: false
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [ python ]
      - id: kacl-verify
        name: kacl-verify
        entry: poetry run kacl-cli verify
        language: system
        files: 'CHANGELOG.md'
        pass_filenames: false

doc: update readme and changelog with tne new command
  CHANGELOG.md
  README.md
Due: kacl-verify

doc: update screenshot and backup terminal output and showcode config
  doc/cli_commands_output.md
  doc/cli_config_create.png
  doc/cli_config_show.png
  doc/cli_loans_list.png
  doc/cli_loans_renew.png
  doc/showcode.app.config.json
Due: none

chore: run optipng on images
  doc/banner.png
  doc/cli_config_create.png
  doc/cli_config_show.png
  doc/cli_loans_list.png
  doc/cli_loans_renew.png
  doc/mr_homepage.png
Due: none

feat: renew loans (#10)
  CHANGELOG.md
  README.md
  doc/banner.png
  doc/cli_commands_output.md
  doc/cli_config_create.png
  doc/cli_config_show.png
  doc/cli_loans_list.png
  doc/cli_loans_renew.png
  doc/mr_homepage.png
  doc/showcode.app.config.json
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/loan_test.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/renew/__init__.py
  src/mediathequeroubaix/renew/renew.py
  src/mediathequeroubaix/renew/renew_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

chore: remove dotenv from dependencies
  poetry.lock
  pyproject.toml
Due: none

fix(doc): change was written in already release version
  CHANGELOG.md
Due: kacl-verify

Release 1.3.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

feat: display barcode and call number in loans list
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

doc: update changelog
  CHANGELOG.md
Due: kacl-verify

doc: update screenshots
  doc/cli_commands_output.md
  doc/cli_loans_list.png
  doc/cli_loans_renew.png
Due: none

chore: update showcode config
  doc/showcode.app.config.json
Due: none

feat: add barcode and item call number in loans list (#11)
  CHANGELOG.md
  doc/cli_commands_output.md
  doc/cli_loans_list.png
  doc/cli_loans_renew.png
  doc/showcode.app.config.json
  src/mediathequeroubaix/loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 1.4.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

fix: itemcallnumber is actually optional
  CHANGELOG.md
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

fix: itemcallnumber is actually optional (#12)
  CHANGELOG.md
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 1.4.1
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

chore: switch to UV
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .tool-versions
  LICENSE.txt
  Makefile
  poetry.lock
  poetry.toml
  pyproject.toml
  src/mediathequeroubaix/__main__.py
  src/mediathequeroubaix/config.py
  src/mediathequeroubaix/get_loans/base64decode_test.py
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/parse_loans.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/main.py
  uv.lock
Due: autoflake, isort, black, pyupgrade, mypy, flake8

ci: switch to uv, delete release for now
  .github/actions/python-poetry-env/action.yml
  .github/pull_request_template.md
  .github/workflows/draft_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: convert from Poetry to UV (#13)
  .github/actions/python-poetry-env/action.yml
  .github/pull_request_template.md
  .github/workflows/draft_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .tool-versions
  LICENSE.txt
  Makefile
  poetry.lock
  poetry.toml
  pyproject.toml
  src/mediathequeroubaix/__main__.py
  src/mediathequeroubaix/config.py
  src/mediathequeroubaix/get_loans/base64decode_test.py
  src/mediathequeroubaix/get_loans/loan.py
  src/mediathequeroubaix/get_loans/parse_loans.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/main.py
  uv.lock
Due: autoflake, isort, black, pyupgrade, mypy, flake8

doc: review install instruction
  README.md
Due: none

ci: limit concurrency + some tweaks
  .github/workflows/test.yml
Due: none

style: apply ruff format
  src/mediathequeroubaix/get_loans/parse_loans.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

chore: ignore /data
  .gitignore
Due: none

chore: bump version to 1.5.0
  pyproject.toml
  uv.lock
Due: none

doc: update CHANGELOG.md
  CHANGELOG.md
Due: kacl-verify

chore: add release script
  bin/release.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

doc: update release instructions
  README.md
Due: none

doc: remove license badge, useless
  README.md
Due: none

chore: simplify pytest pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: set correct range of versions for dependencies
  pyproject.toml
  uv.lock
Due: none

chore: re-enable mypy
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

chore: update CHANGELOG with the reason to switch to UV
  CHANGELOG.md
Due: kacl-verify

chore: add a main declaration in main.py for easier running
  src/mediathequeroubaix/main.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

doc: add how to run in readme
  README.md
Due: none

feat: add `holds list` command
  src/mediathequeroubaix/cli_utils.py
  src/mediathequeroubaix/get_holds/__init__.py
  src/mediathequeroubaix/get_holds/extract_token.py
  src/mediathequeroubaix/get_holds/extract_token_test.py
  src/mediathequeroubaix/get_holds/get_holds.py
  src/mediathequeroubaix/get_holds/get_holds_test.py
  src/mediathequeroubaix/get_holds/hold.py
  src/mediathequeroubaix/get_holds/hold_test.py
  src/mediathequeroubaix/get_holds/parse_holds.py
  src/mediathequeroubaix/get_holds/parse_holds_test.py
  src/mediathequeroubaix/get_loans/parse_loans_test.py
  src/mediathequeroubaix/holds.py
  src/mediathequeroubaix/loans.py
  src/mediathequeroubaix/main.py
  src/mediathequeroubaix/shared/__init__.py
  src/mediathequeroubaix/shared/base64decode.py
  src/mediathequeroubaix/shared/base64decode_test.py
  src/mediathequeroubaix/shared/extract_input_value.py
  src/mediathequeroubaix/shared/extract_input_value_test.py
  src/mediathequeroubaix/shared/get_personal_space.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

chore: bump version to 1.6.0
  pyproject.toml
  uv.lock
Due: none

chore: pimp release script
  bin/release.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

chore: ignore .env (was ignored globally, but added for hatchling
  .gitignore
Due: none
